TROOV_CAF_USER_ARRIVAL_URL=https://lib.dev.caf.troovrdv.com/troovrdv-front/cnaf/enrollment 
BROWSER=chromium
HEADLESS=false

TROOV_URL=https://troov.com
CALLSCREEN_URL=https://callscreen.troov.com
TROOV_USERNAME='developer@troov.com'
TROOV_PASSWORD='Troov2019'