TROOV_CAF_USER_ARRIVAL_URL=https://lib.dev.caf.troovrdv.com/troovrdv-front/cnaf/enrollment 
BROWSER=chromium
HEADLESS=false

TROOV_URL=http://localhost:3000
CALLSCREEN_URL=http://localhost:3001
TROOV_USERNAME='caf@troov.com'
TROOV_PASSWORD='Caf2024'